/* ----------------------- Variables ------------------------ */
$grey: #1a1a1a;
$lightGrey: #282828;

$box: 6vw;
$gap: 1vw;
$columns: 10;

$noBorderBox: $box - $gap;
$border: $gap / 2;
$halfBorder: $gap / 4;
$letterSize: .25 * $box;

$bucketWidth: ($columns * $noBorderBox) + (($columns + 1) * $border);
$rowWidth: $box + $gap + $bucketWidth;

/* ------------------------- Tier -------------------------- */
.tier {
  display: flex;
  margin-bottom: $gap;
}

.tier:last-child {
  margin-bottom: 0;
}

/* ---------------------- Tier letter ---------------------- */
.tier-letter {
  width: $box;
  min-height: $box;

  font-family: 'Somatic Rounded';
  font-size: $letterSize;
  color: rgba(0, 0, 0, .4);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------- Tier bucket ---------------------- */
.tier-bucket-outer {
  background: $lightGrey;
  margin-left: $gap;
  padding: $border;
  transition: .1s;
}

.tier-bucket-middle {
  width: $bucketWidth - $gap;
  background: $grey;
}

.tier-bucket {
  display: flex;
  flex-wrap: wrap;

  min-height: $noBorderBox;
  width: $bucketWidth;
  margin-bottom: -$gap;

  position: relative;
  top: -$halfBorder;
  left: -$halfBorder;
}

.tier-bucket-bottom-border {
  width: 100%;
  height: $border;
  background: $lightGrey;

  position: relative;
  top: $border;
}

.no-extra-border .tier-bucket-bottom-border {
  display: none;
}

/* --------------------- Tier element ---------------------- */
.tier-element-outer {
  width: $box;
  height: $box;
  margin: -$halfBorder;
}

.tier-element {
  width: calc(100% - #{$gap});
  height: calc(100% - #{$gap});

  background: $grey;
  border: $border solid $lightGrey;
  transition: all .1s;

  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.tier-element:hover {
  cursor: pointer;

  width: 100%;
  height: 100%;

  top: -$border;
  left: -$border;
  z-index: 400;
}

.selected {
  border-color: #fff;
  width: 100%;
  height: 100%;

  top: -$border;
  left: -$border;
  z-index: 300;
}

/* ---------------------- General ------------------------- */
html {
  height: 100%;
}

body {
  background: #000;
  padding: $box / 2;
}

img {
  width: 100%;
  height: 100%;
  display: none;
}

#root {
  width: 92vw;
  display: flex;
  height: 100%;
}

#tier-list {
  width: $rowWidth;
  margin-right: 3vw;
}

#sidebar {
  width: 25vw;
  display: none;
}

/* ----------------------- Colors -------------------------- */
#S { background: #fd817f; }
#A { background: #ffbf7f; }
#B { background: #feff7f; }
#C { background: #7eff80; }
#D { background: #7fbfff; }
#E { background: #807fff; }
#F { background: #ff7ffe; }

/* ----------------------- Fonts -------------------------- */
@font-face {
  font-family: 'Somatic Rounded';
  font-style: normal;
  font-weight: normal;
  src: local('Somatic Rounded'), url('./fonts/Somatic-Rounded.woff') format('woff');
}
