/* ----------------------- Variables ------------------------ */
$grey: #1a1a1a;
$lightGrey: #282828;
$lighterGrey: #333;

$fontFamily: 'Somatic Rounded', sans-serif;

$box: 7vw;
$gap: 1vw;
$listCols: 8;
$sidebarCols: 4;

$tripleGap: $gap * 3;
$noBorderBox: $box - $gap;
$border: $gap / 2;
$halfBorder: $gap / 4;
$fontSize: $box * .23;

$bucketWidth: ($listCols * $noBorderBox) + (($listCols + 1) * $border);
$listWidth: $box + $gap + $bucketWidth;
$sidebarWidth: ($sidebarCols * $noBorderBox) + (($sidebarCols + 1) * $border);

$padding: (100vw - ($listWidth + $sidebarWidth)) / 3;

/* ----------------------- Fonts -------------------------- */
@font-face {
  font-family: 'Somatic Rounded';
  font-style: normal;
  font-weight: normal;
  src: local('Somatic Rounded'), url('./fonts/Somatic-Rounded.woff') format('woff');
}

/* ---------------------- General ------------------------- */
html {
  height: 100%;
}

body {
  background: #000;
  color: #fff;

  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.5;

  padding: $padding;
  padding-top: $tripleGap;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.content {
  display: flex;
}

/* ---------------------- Tier Colors ---------------------- */
#s { background: #fd817f; }
#a { background: #ffbf7f; }
#b { background: #feff7f; }
#c { background: #7eff80; }
#d { background: #7fbfff; }
#e { background: #807fff; }
#f { background: #ff7ffe; }

/* ------------------------ Header ------------------------ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: $gap * 3;
}

.menu > * { margin: 0 $border; }
.menu { display: flex; }
.menu > *:first-child { margin-left: 0; }
.menu > *:last-child { margin-right: 0; }

.button {
  background: #fff;
  height: $box / 2 + .1;
  padding: 0 $gap * 1.4;
  color: #000;

  display: flex;
  align-items: center;

  cursor: pointer;
}

/* ------------------------ Sidebar ------------------------ */
#sidebar {
  width: $sidebarWidth;

  position: absolute;
  right: $padding;
  height: $box;
}

.link {
  border-bottom: $border solid rgba(255, 255, 255, 1);
  margin-right: $border;
  margin-bottom: -$border;
}

#sidebar .tier-bucket-middle {
  width: $sidebarWidth - $gap;
}

#sidebar .tier-bucket {
  width: $sidebarWidth;
}

/* ---------------------- Tier list ------------------------ */
#tier-list {
  width: $listWidth;
  margin-right: $padding;
}

/* ------------------------- Tier -------------------------- */
.tier {
  display: flex;
  margin-bottom: $gap;
}

.tier:last-child {
  margin-bottom: 0;
}

/* ---------------------- Tier letter ---------------------- */
.tier-letter {
  width: $box;
  margin-right: $gap;

  text-transform: uppercase;
  color: rgba(0, 0, 0, .45);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------- Tier bucket ---------------------- */
.tier-bucket-outer {
  background: $lightGrey;

  min-height: $noBorderBox;
  padding: $border;
}

.tier-bucket-middle {
  width: $bucketWidth - $gap;
  background: $grey;
}

.tier-bucket {
  display: flex;
  flex-wrap: wrap;

  width: $bucketWidth;
  min-height: $noBorderBox;
  margin-bottom: -$gap;

  position: relative;
  top: -$halfBorder;
  left: -$halfBorder;
}

.tier-bucket-bottom-border {
  width: 100%;
  height: $border;
  background: $lightGrey;

  position: relative;
  top: $border;
}

/* --------------------- Tier element ---------------------- */
.tier-element-outer {
  width: $box;
  height: $box;
  margin: -$halfBorder;
}

.tier-element {
  width: $noBorderBox;
  height: $noBorderBox;

  background-color: $grey;
  background-size: cover;
  background-position: center;

  border: $border solid $lightGrey;

  position: relative;
  top: 0;
  left: 0;
  z-index: 100;

  cursor: pointer;
}

.tier-element:hover {
  border-color: #a0a0a0;

  width: 100%;
  height: 100%;

  top: -$border;
  left: -$border;
  z-index: 400;
}

.selected {
  border-color: #fff;

  width: 100%;
  height: 100%;

  top: -$border;
  left: -$border;
  z-index: 300;
}

.selected:hover {
  border-color: #fff;
}
