$box: 6vw;
$gap: 1vw;
$columns: 10;

$noBorderBox: $box - $gap;
$border: $gap / 2;
$halfBorder: $gap / 4;
$letterSize: .25 * $box;

$bucketWidth: ($columns * $noBorderBox) + (($columns + 1) * $border);
$rowWidth: $box + $gap + $bucketWidth;

@font-face {
  font-family: 'Somatic Rounded';
  font-style: normal;
  font-weight: normal;
  src: local('Somatic Rounded'), url('./fonts/Somatic-Rounded.woff') format('woff');
}

/* Tier list */
.tier {
  display: flex;
  margin-bottom: $gap;
}

.tier:last-child {
  margin-bottom: 0;
}

.tier-letter {
  font-family: 'Somatic Rounded';
  color: rgba(0, 0, 0, .4);
  width: $box;
  min-height: $box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $letterSize;
}

.tier-bucket-outer {
  background: #282828;
  margin-left: $gap;
  padding: $border;
  transition: .1s;
}

.tier-bucket-middle {
  width: $bucketWidth - $gap;
  background: #191919;
}

.tier-bucket {
  display: flex;
  flex-wrap: wrap;
  min-height: $noBorderBox;
  width: $bucketWidth;
  position: relative;
  top: -$halfBorder;
  left: -$halfBorder;

  margin-bottom: -$gap;
}

.tier-bucket-bottom-border {
  width: 100%;
  height: $border;
  background: #282828;
  position: relative;
  top: $border;
}

.no-extra-border .tier-bucket-bottom-border {
  display: none;
}

.tier-element-outer {
  width: $box;
  height: $box;
  margin: -$halfBorder;
  /* background: #282828; */
}

.tier-element {
  border: $border solid #282828;
  width: calc(100% - #{$gap});
  height: calc(100% - #{$gap});
  background: #1a1a1a;
  position: relative;
  top: 0;
  left: 0;
  transition: all .1s;
  z-index: 100;
}

.tier-element:hover {
  cursor: pointer;
  /* border: $border solid #fff; */
  /* border-color: #fff; */
  width: 100%;
  height: 100%;
  top: -$border;
  left: -$border;
  z-index: 400;
}

.tier-element img {
  width: 100%;
  height: 100%;
  display: none;
}

.selected {
  cursor: pointer;
  /* border: $border solid #fff; */
  border-color: #fff;
  width: 100%;
  height: 100%;
  top: -$border;
  left: -$border;
  z-index: 300;
}

/* Letters */
#S { background: #fd817f; }
#A { background: #ffbf7f; }
#B { background: #feff7f; }
#C { background: #7eff80; }
#D { background: #7fbfff; }
#E { background: #807fff; }
#F { background: #ff7ffe; }

/* General */
html {
  height: 100%;
}

body {
  background: #000;
  padding: $box / 2;
}

#root {
  width: 92vw;
  display: flex;
  height: 100%;
}

#tier-list {
  width: $rowWidth;
  margin-right: 3vw;
}

#sidebar {
  width: 25vw;
  display: none;
}
